name: Clojure CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: lein deps
    - name: Install node js apps for stylesheets
      run: npm install
    - name: Build content
      run: lein run

    - name: Deploy to server
      id: deploy
      uses: Pendect/action-rsyncer@v1.1.0
      env:
        DEPLOY_KEY: ${{secrets.DEPLOY_KEY}}
      with:
        flags: '-avzr --delete'
        options: ''
        ssh_options: ''
        src: 'public/'
        dest: 'deploy@blog.chrisadams.me.uk:/var/www/blog.chrisadams.me.uk/public/'

    - name: Display status from deploy
      run: echo "${{ steps.deploy.outputs.status }}"